<%- include("partials/header") -%>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Insert</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!------------------------------------------------ Body ---------------------------------------------->

  <div class="formSize center ">
    <form id="formData" class="position-absolute top-50 start-50 translate-middle" method="POST">
      <!-- <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image 1</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image 2</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image 3</label>
        <input class="form-control" type="file" id="formFile">
      </div> -->
      <div class="input-group mb-3">
        <span class="input-group-text bg-info" id="basic-addon3">Image 1 URL</span>
        <input type="text" name="img1" class="form-control" id="img1" aria-describedby="basic-addon3" autocomplete="off"/>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-info" id="basic-addon3">Image 2 URL</span>
        <input type="text" name="img2" class="form-control" id="img2" aria-describedby="basic-addon3" autocomplete="off" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-info" id="basic-addon3">Image 3 URL</span>
        <input type="text" name="img3" class="form-control" id="img3" aria-describedby="basic-addon3" autocomplete="off" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-info" id="basic-addon3">Anime Name</span>
        <input type="text" name="animNam" class="form-control" id="animNam" aria-describedby="basic-addon3" autocomplete="off" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-info" id="basic-addon3">Character Name</span>
        <input type="text" name="charNam" class="form-control" id="charNam" aria-describedby="basic-addon3" autocomplete="off" />
      </div>

      <button type="submit" class="btn bg-primary" name="button">Save</button>
    </form>
  </div>

  <!-- 
    this var 'isError' send from the app.js 
    and it only true when error is occurred in saving data in DB
  -->
  <% if(isError){ %>
    <script>
      alert('please enter correct values');
    </script>
  <%} %>

    <!------------------------------------------------ Footer ---------------------------------------------->

    <footer class="footer-distributed marg">

<%- include("partials/footer") -%>